// Import & settings
@import "susy";

$susy: (
	columns: 12,
	gutters: 30/50,
	gutter-position: inside,
);

// Grid
.container {
	@include container(960px);
}

@mixin breakpoint($size) {
	@media (min-width: $size) { @content; }
}