// IMPORTS
@import "reset";
@import "grid";

// Defaults
* { box-sizing: border-box; }

@-ms-viewport { width: devide-width; }

body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #dde3e7;
	min-height: 100vh;
	font: 17px 'Open Sans', sans-serif;
	color: #132c4f;

	@media (min-width: 1080px) {
		font-size: 20px;
	}
	@media (min-width: 680px) {
		font-size: 18px;
	}
}

.clear { clear: both }

// Typography
h1 { font-size: 8em }

h2 { font-size: 2.4em }

h3 { font-size: 1.7em }

h4 { font-size: 1.2em }


// Content loading animation
.content-loading {
	width: 70px;
	height: 70px;
	margin-top: -39px;
	margin-left: -39px;
	margin-bottom: 30px;
	border: 4px solid #888;
	border-left-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: fullspin 1s infinite ease-out;
	animation: fullspin 1s infinite ease-out;
	z-index: 2;
	transition: opacity 0.2s linear;
}

@keyframes fullspin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}


// SECTIONS
// Error
.page-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	padding: 50px;
	background-color: #fff;
	text-align: center;
	z-index: 100;

	&,
	h3 {
		transition: opacity 0.2s linear;
	}

	h3 { margin: 0 auto }

	&.hidden-content {
		.content-loading,
		h3 {
			opacity: 0;
		}
	}
	&.hidden-overlay {
		opacity: 0;
		pointer-events: none;
	}
}

// Current weather panel
.curr-wthr {
	.container {
		position: relative;
		background-color: #000;
		background-size: cover;
		background-position: center center;
	}

	.curr-wth-wrpr {
		background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		background-position: top left;
		padding: 47px 30px 17px;
		color: #fff;
	}

	.location, .temp {
		z-index: 99;
	}

	.location { margin-bottom: 93px }

	.temp span { font-size: 0.563em }

	h1, h2 { font-weight: 600 }
}

// Forecast
.forecast {
	text-align: center;

	.container {
		background-color: #fff;
		padding-top: 33px;

		@media (min-width: 680px) {
			padding-bottom: 33px;
		}
	}

	.heading {
		margin-bottom: 16px;
	}

	.icon {
		margin-bottom: 9px;

		img {
			width: 46px;
			height: auto;
		}
	}

	.curr-wthr-state {
		width: 100%;
		margin-bottom: 34px;

		@media (min-width: 680px) {
			width: 30%;
			margin-bottom: 0;
		}

		.icon {
			margin-bottom: 1px;

			img { width: 100px }
		}
	}

	.daily {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		@media (min-width: 680px) {
			width: 70%;
		}
	}

	.day {
		width: 50%;
		padding-top: 22px;
		padding-bottom: 22px;
		border-style: solid;
		border-color: #DDDDDD;
		border-top-width: 1px;

		@media (min-width: 680px) {
			width: 25%;
			padding-top: 0;
			padding-bottom: 0;
			border-top-width: 0;
		}

		&:nth-child(odd) {
			border-right-width: 1px;

			@media (min-width: 680px) {
				border-right-width: 0;
			}
		}
	}
}